DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
POSTGRES_DB=hermes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PRIM_GTFS_URL=PRIM_GTFS_URL
GDAL_LIBRARY_PATH=PATH_TO_GDAL_LIBRARY
GEOS_LIBRARY_PATH=PATH_TO_GEOS_LIBRARY